//Porta do servidor
PORT=3000;

//Conexão BD Local
DB_HOST=localhost
DB_PORT=5432
DB_USER=user_do_banco
DB_PASSWORD=senha_do_banco
DB_NAME=nome_do_banco

//Conexão BD Web
DATABASE_URL="link do banco de dados web ou prisma"
FRONTEND_URL="link do frontend"